body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: blue;
    width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.section-one p {
    color: white;
    margin: 20px;
}

.section-one:hover {
    background-color: aqua;
}

.section-two {
    width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.section-three {
    width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.section-three p {
    margin-top: 0px;
}

.section-four {
    width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(177, 47, 47);
}

.background {
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: grey;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.background:first-child {
    margin-left: 10px;
}

