body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Corbel', Arial, sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70vw;
    margin: 0 auto;
    color: #14931F;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: inherit;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
}

.section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 33vw;
    text-align: center;
}

h1 {
    font-size: 64px;
    margin: 0;
}

.section-one p {
    color: #646F75;
    margin: 0;
    width: 30vw;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: inherit;
}

.inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 280px;
    height: 100px;
    text-align: center;
    color: #646F75;
    background-color: #DFDBF5;
    margin-bottom: 20px;
    border-radius: 35px;
}

.items {
    width: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
}

.items p {
    /* padding: 30px; */
    margin: 0;
    
}

.section-two h2, .third-section  h2{
    font-size: 48px;
    margin: 0;
    margin-bottom: 80px;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px 30px 10px 30px;
    background-color: #14931F;
    border-radius: 30px;
    margin-bottom: 80px;
}

.third-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: inherit;
    background-color: #DFDBF5;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: inherit;
    margin-bottom: 80px;
}

.first-card {
    width: 270px;
    /* height: 400px; */
    /* border: 2px solid green; */
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.first-card h2 {
    font-size: 24px;
    margin: 20px 0px 20px 0px;
    width: 150px;
    height: 50px;
    text-align: center;
}

.text-items {
    width: 220px;
    height: 220px;
}

.text-items p {
    font-size: 18px;
    color: #646F75;
    /* background-image: url(./icon1.svg); */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='16' viewBox='0 0 20 16' fill='none'%3E%3Cpath d='M10 0C4.48603 0 0 3.54752 0 7.9081C0 12.2687 4.48603 15.8163 10 15.8163C15.514 15.8163 20 12.2687 20 7.9081C20 3.54752 15.5141 0 10 0ZM15.7422 6.57236L9.45969 11.5406C9.19255 11.7519 8.83746 11.8681 8.45972 11.8681C8.08198 11.8681 7.72688 11.7519 7.45975 11.5406L4.25782 9.0085C3.99069 8.79725 3.84356 8.51644 3.84356 8.21771C3.84356 7.91891 3.99069 7.6381 4.25782 7.42685C4.52485 7.2156 4.87995 7.09924 5.25779 7.09924C5.63553 7.09924 5.99073 7.2156 6.25776 7.42693L8.45961 9.16809L13.742 4.9907C14.0092 4.77945 14.3643 4.66318 14.742 4.66318C15.1197 4.66318 15.4748 4.77945 15.742 4.9907C16.2936 5.4269 16.2936 6.13632 15.7422 6.57236Z' fill='%23646F75'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left top;
    /* background-size: 70% 70%; */
    /* background-attachment: scroll; */
    padding-left: 30px;
    /* background-size: 50% 50%; 
     margin-left: 20px;  */
}

.second-card {
    background-color: #14931F;
}

.second-card h2 {
    color: white;
}

.second-card p {
    color: white;
    background-color: white;
}

.price-button {
    width: 235px;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 25px 0px 25px 0px;
}

.price-button a, .price-button p {
    margin: 0;
}

.price-button p {
    font-size: 48px;
}

.first-card:nth-child(2) {
    background-color: #14931F;
}

.first-card:nth-child(2) .text-items p {
    color: white;
}

.first-card:nth-child(2) .price-button p {
    color: white;
}

.first-card:nth-child(2) .price-button a {
    color: #646F75;
    background-color: white;
}

.first-card:nth-child(2) h2 {
    color: white;
}

.first-card:nth-child(1) .price, a {
    color: #646F75;
}

.first-card:nth-child(1)  a {
    background-color: white;
    border: 1px solid #646F75;
}
.first-card:nth-child(3) .price-button p {
    color: #646F75;
}

.first-card:nth-child(3) .price-button a {
    color: white;
    background-color: #14931F;
}

.first-card:nth-child(2) .text-items p {
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='16' viewBox='0 0 20 16' fill='none'%3E%3Cpath d='M10 0C4.48603 0 0 3.54752 0 7.9081C0 12.2687 4.48603 15.8163 10 15.8163C15.514 15.8163 20 12.2687 20 7.9081C20 3.54752 15.5141 0 10 0ZM15.7422 6.57236L9.45969 11.5406C9.19255 11.7519 8.83746 11.8681 8.45972 11.8681C8.08198 11.8681 7.72688 11.7519 7.45975 11.5406L4.25782 9.0085C3.99069 8.79725 3.84356 8.51644 3.84356 8.21771C3.84356 7.91891 3.99069 7.6381 4.25782 7.42685C4.52485 7.2156 4.87995 7.09924 5.25779 7.09924C5.63553 7.09924 5.99073 7.2156 6.25776 7.42693L8.45961 9.16809L13.742 4.9907C14.0092 4.77945 14.3643 4.66318 14.742 4.66318C15.1197 4.66318 15.4748 4.77945 15.742 4.9907C16.2936 5.4269 16.2936 6.13632 15.7422 6.57236Z' fill='%23646F75'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left top;
}

footer {
    width: inherit;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #14931F;
}

footer p {
    color: white;
    font-size: 18px;
}

.section-one a {
    color: white;
}






