body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Corbel', Arial, sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70vw;
    margin: 0 auto;
    color: #14931F;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: inherit;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
}

.section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 33vw;
    text-align: center;
}

h1 {
    font-size: 64px;
    margin: 0;
}

.section-one p {
    color: #646F75;
    margin: 0;
    width: 30vw;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: inherit;
}

.inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    height: 100px;
    text-align: center;
    color: #646F75;
    background-color: #DFDBF5;
    margin-bottom: 20px;
    border-radius: 35px;
}

.items {
    width: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
}

.items p {
    /* padding: 30px; */
    margin: 0;
    width: 240px;
    
}

.section-two h2, .third-section  h2{
    font-size: 48px;
    margin: 0;
    margin-bottom: 80px;
}

.third-section  h2 {
    margin-top: 80px;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px 30px 10px 30px;
    background-color: #14931F;
    border-radius: 30px;
    margin-bottom: 80px;
}

.third-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: inherit;
    background-color: #DFDBF5;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: inherit;
    margin-bottom: 80px;
}

.first-card {
    width: 270px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.first-card h2 {
    font-size: 24px;
    margin: 20px 0px 20px 0px;
    width: 150px;
    height: 50px;
    text-align: center;
}

.text-items {
    width: 220px;
    height: 220px;
}

.text-items p {
    font-size: 18px;
    color: #646F75;
    background-image: url(./icon1.svg);
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 30px;
    
}

.second-card {
    background-color: #14931F;
}

.second-card h2 {
    color: white;
}

.second-card p {
    color: white;
    background-color: white;
}

.price-button {
    width: 235px;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 25px 0px 25px 0px;
}

.price-button a, .price-button p {
    margin: 0;
}

.price-button p {
    font-size: 48px;
}

.first-card:nth-child(2) {
    background-color: #14931F;
}

.first-card:nth-child(2) .text-items p {
    color: white;
}

.first-card:nth-child(2) .price-button p {
    color: white;
}

.first-card:nth-child(2) .price-button a {
    color: #646F75;
    background-color: white;
}

.first-card:nth-child(2) h2 {
    color: white;
}

.first-card:nth-child(1) .price, a {
    color: #646F75;
}

.first-card:nth-child(1)  a {
    background-color: white;
    border: 1px solid #646F75;
}
.first-card:nth-child(3) .price-button p {
    color: #646F75;
}

.first-card:nth-child(3) .price-button a {
    color: white;
    background-color: #14931F;
}


footer {
    width: inherit;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #14931F;
}

footer p {
    color: white;
    font-size: 18px;
}

.section-one a {
    color: white;
}


.first-card:nth-child(2) .text-items p {
    background-image: url(./iconizer-icon1.svg);
}





