body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    width: 200px;
    height: 200px;
    border: 3px solid blue;
    background-image: url(./cat.jpg);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}